.modal-buttons-container{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.modal-buttons-container .primary, .modal-buttons-container .secondary{
    padding: 12px 18px;
    border-radius: 30px;
    font-size: 0.825rem;
    cursor: pointer;
  }

.modal-buttons-container .primary{
    border: 1.5px solid #F5F6F7;
    background: #fff;
    color: #42526D;
}
  
.modal-buttons-container .secondary{
    border: 1.5px solid ;
    background: #091E42;
    color: #fff;
  }