.side-nav{
    position: fixed;
    left: 0;
    width: 16%;
    height: 100%;
    border-right: 1px solid var(--border-grey);
    font-family: "DM Sans Regular";
}

.side-nav .logo-container{
    height: 10%;
    width: 100%;
    border-bottom: 1px solid var(--border-grey);
}