.top-nav{
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 1px solid var(--border-grey);
    width: 84%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav h2, .top-nav p{
    margin: 0;
}

.top-nav h2{
    font-family: DMSansSemiBold;
    font-size: 1rem;
    color: #1B293A;
}

.top-nav p{
    font-family: DMSansRegular;
    font-size: 0.75rem;
    color: #7A8699;
}

.top-nav form{
    position: relative;
}

.top-nav input[type="search"]{
    width: 400px;
    height: 40px;
    border-radius: 11px;
    padding: 10px 14px;
    padding-left: 50px !important; /*14 + 28 + 8*/
    border: 1px solid var(--border-grey);
    color: var(--grey-500);
    margin-left: 40px;
}

.top-nav input[type="search"]:focus{
    outline: none;
    color: #1B293A;
}

.top-nav button{
    position: absolute;
    top: 7px;
    left: 47px; /* 40 + 7 */
    border: none;
    background: none;
    cursor: pointer;
}

.user-profile-container{
    margin-right: 83px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.user-profile-container img{
    width: 41px;
    height: 41px;
}
