.settlements-card {
  width: 23%;
  height: 28vh;
  /* margin-left: 240px; */ /* removed this because card is now in the page, the page padding will apply */
  border-radius: 15px;
  border: 1px solid var(--foundation-blue-b-30, #f0f2f5);
  /* background: var(--foundation-blue-b-10, #fafbfb); */
  padding: 10px 20px 10px 20px;
  color: var(--font-color-gray-5);
  font-size: 14px;
  cursor: pointer;
}

.settlements-card:hover {
  background-color: #fafbfb;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #fff3f1;
  display: block;
  margin-top: -40px;
}

.settlements-card:hover > span {
  background: #dfe2e6;
}

.info-icon {
  display: flex;
  padding-left: 150px;
  margin-top: -30px;
}

.period {
  margin-top: -10px;
}

.value {
  margin-top: 20px;
}

.percentage-container {
  margin-left: 140px;
  width: 42px;
  height: 24px;
  /* background-color: #ff8577; */
  border-radius: 12px;
  opacity: 0.05;
}

/* .percentage {
  color: red;
} */
