:root{
  --border-grey: #DFE2E6;
  --text-grey: #98A1B0;
  --grey-500: #667085;
  --foundation-orange-o-50: #FFF3F1;
  --foundation-orange-o-30: #FF8577;
}

@font-face {
  font-family: DMSansRegular;
  src: url('./assets/fonts/DMSans-Regular.ttf')format('truetype');
}

@font-face {
  font-family: DMSansMedium;
  src: url('./assets/fonts/DMSans-Medium.ttf')format('truetype');
}

@font-face {
  font-family: DMSansBold;
  src: url('./assets/fonts/DMSans-Bold.ttf')format('truetype');
}

@font-face {
  font-family: DMSansSemibold;
  src: url('./assets/fonts/DMSans-SemiBold.ttf')format('truetype');
}

body {
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--text-grey);
}

.visibly-hidden{
  display: none;
}