@font-face {
  font-family: "DMSansRegular";
  src: local("DMSansRegular "), url("./assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "DMSansMedium";
  src: local("DMSansMedium "), url("./assets/fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSansSemiBold";
  src: local("DMSansSemiBold "), url("./assets/fonts/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "DMSansBold";
  src: local("DMSansBold "), url("./assets/fonts/DMSans-Bold.ttf");
}

:root {
  --foundation-orange-o-50: #fff3f1;
  --foundation-orange-o-30: #ff8577;
  --secondary-color: #ff8577;
  --primary-color: #699bf7;
  --secondary-color-opacity: #9277ff;
  --border-grey: #dfe2e6;
  --text-grey: #98a1b0;
  --grey-500: #667085;
  --font-color-gray: #667085;
  --font-color-gray-2: #98a1b0;
  --font-color-gray-3: #5f6c72;
  --font-color-gray-4: #5f6c72;
  --font-color-purple: #9685ad;
  --font-color-gray-5: #7a8699;
  --font-color-dark: #101828;
  --font-color-white: #ffffff;
  --bg-color: #ffffff;
  --border-color: #f5f6f7;
  --box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

*, *::before, *::after{
  box-sizing: border-box;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: "DMSansRegular";
}

a {
  text-decoration: none;
  color: var(--text-grey);
}

.visibly-hidden {
  display: none !important;
}

hr{
  border-color: #DFE2E6;
}

.global-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.global-modal{
  min-height: 50vh;
  min-width: 35%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.global-modal h2, .global-modal p, .global-modal h3{
  margin: 0;
}

.global-button-primary, .global-button-secondary{
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 0.825rem;
  cursor: pointer;
}

.global-button-primary{
  border: 1.5px solid #F5F6F7;
  background: #fff;
  color: #42526D;
}

.global-button-secondary{
  border: 1.5px solid ;
  background: #091E42;
  color: #fff;
}

.global-modal-select, .global-modal-input{
  border: 1.5px solid #F0F2F5;
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  font-family: DMSansRegular;
  font-size: 0.875rem;
  color: #98A1B0;
  appearance: none;
  margin-bottom: 18px;
}

.global-modal-select{
  cursor: pointer;
}

.global-modal-select:focus, .global-modal-input{
  outline: none;
}

.global-modal-select > option:not(:disabled){
  color: #091E42;
}

.global-modal-input::placeholder{
  color: #98A1B0;
}

.global-modal form{
  position: relative;
}

.global-modal-select + svg{
  position: absolute;
  top: 20px;
  right: 16px;
}

.global-modal form .arrow-down-svg path{
  stroke: #8993A4;
}