@font-face {
  font-family: "DMSansRegular";
  src: local("DMSansRegular "), url("./assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: "DMSansMedium";
  src: local("DMSansMedium "), url("./assets/fonts/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSansSemiBold";
  src: local("DMSansSemiBold "), url("./assets/fonts/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "DMSansBold";
  src: local("DMSansBold "), url("./assets/fonts/DMSans-Bold.ttf");
}

:root {
  --foundation-orange-o-50: #fff3f1;
  --foundation-orange-o-30: #ff8577;
  --secondary-color: #ff8577;
  --primary-color: #699bf7;
  --secondary-color-opacity: #9277ff;
  --border-grey: #dfe2e6;
  --text-grey: #98a1b0;
  --grey-500: #667085;
  --font-color-gray: #667085;
  --font-color-gray-2: #98a1b0;
  --font-color-gray-3: #5f6c72;
  --font-color-gray-4: #5f6c72;
  --font-color-purple: #9685ad;
  --font-color-gray-5: #7a8699;
  --font-color-dark: #101828;
  --font-color-white: #ffffff;
  --bg-color: #ffffff;
  --border-color: #f5f6f7;
  --box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

*, *::before, *::after{
  box-sizing: border-box;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: "DMSansRegular";
}

a {
  text-decoration: none;
  color: var(--text-grey);
}

.visibly-hidden {
  display: none !important;
}
